/* Pour les navigateurs basés sur Webkit (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
    width: 8px; /* Largeur de la scrollbar verticale */
    height: 8px; /* Hauteur de la scrollbar horizontale */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Couleur de la piste, semi-transparente */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* Couleur du pouce, semi-transparente */
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0); /* Pour réduire la taille du pouce */
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7); /* Couleur du pouce au survol */
}

/* Pour Firefox */
* {
    scrollbar-width: thin; /* "auto" ou "thin" */
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1); /* Couleur du pouce et de la piste */
}
